extends layout
block content
    head
    title About Us
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description' content='')
    meta(name='author' content='')
    link(rel='stylesheet' href='css/bootstrap/bootstrap.min.css')
    link(rel='icon' href='favicon.ico')
    div
    div
        h3
        | Fetch was started by three broke pet-loving students who were tired of not being able to afford good quality toys for their fur babies
        | Through partnerships with local humane societies and rescues, Fetch is able to acquire and pass on the savings that are typically reserved for those organizations that buy in huge volumes. Blah, blah, blah&mldr;&mldr;&mldr;&mldr;&mldr;&mldr;&mldr;&mldr;&mldr;&mldr;&mldr;&mldr;&mldr;&mldr;&mldr;&mldr;&mldr;&mldr;&mldr;&mldr;..
        img.img-fluid(src='/images/BlueLine.png' alt='' width='100%' )
        div
        h3 Fetch is located in Seattle, Washington &mldr;..;
        p
        div
        p
        h4.card-title Location map:
        div
            img.img-fluid.rounded(src='/images/map.PNG')
            //img.img-fluid.rounded(src='https://maps.googleapis.com/maps/api/staticmap?center=51.455041,-0.9690884&zoom=17&size=400x350&sensor=false&markers=51.455041,-0.9690884&scale=2&key=AIzaSyA6W4z1d77ko3yMDl_jWNj3HalKwlxQWoA')
    script(src='js/bootstrap/bootstrap.bundle.min.js')