extends layout

block content
  
  div 
    p
    img.img-fluid(src='/images/dogs.png' alt='' class='img-fluid d-block mx-auto')
    p
  img.img-fluid(src='/images/BlueLine.png' alt='' width='100%' )
  p
  .row
        .col-12.col-lg-4
          img.img-fluid(src='https://s7d2.scene7.com/is/image/PetSmart/5171159' alt='' width='200px')
          p.lead.text-muted
            | KONG
            | Classic Dog Toy, Large
            
          p $5.99
          .mb-3
            label.form-label(for='') Quantity
            select.form-select(name='field-name')
              option 1
              option 2
              option 3
              option 4
          a.btn.btn-primary.d-inline-block(href='#') Add to Cart
        .col-12.col-lg-4
          img.img-fluid(src='https://img.chewy.com/is/image/catalog/71364_MAIN._SS125_V1534452176_.jpg' alt='' width='200px')
          p.lead.text-muted
            | Ethical Pet
            | Ethical Pet Fleece Rabbit Squeaky Tough Plush Dog Toy
            
          p $7.99
          .mb-3
            label.form-label(for='') Quantity
            select.form-select(name='field-name')
              option 1
              option 2
              option 3
              option 4
          a.btn.btn-primary.d-inline-block(href='#') Add to Cart
        .col-12.col-lg-4
          img.img-fluid(src='https://img.chewy.com/is/image/catalog/84467_MAIN._AC_SY200_V1530279142_.jpg' alt='' width='200px')
          p.lead.text-muted
            | KONG
            | KONG Squeezz Crackle Bone for Dogs, Color Varies
          p $6.49
          .mb-3
            label.form-label(for='') Quantity
            select.form-select(name='field-name')
              option 1
              option 2
              option 3
              option 4
          a.btn.btn-primary.d-inline-block(href='#') Add to Cart    