doctype html
html
  head
    <!--  4. Set the viewport metadata for better display on mobile devices-->
    meta(name='viewport', content = 'width=device-width, initial-scale=1.0')

    title= title
    <!--  1.Include BootStrap and Front Awesome CSS -->
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/all.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    
    nav.navbar.fixed-top.navbar-expand-md.navbar-light                    
        .container
          
          a.navbar-brand(href='/') Fetch
            
            button.navbar-toggler(type='button', data-toggle='collapse',data-target='#navbarMain')
              span.navbar-toggler-icon
      
    
          #navbarMain.navbar-collapse.collapse
              ul.navbar-nav.mr-auto
                li.nav-item
                  a.nav-link(href='/about/') About   
  .container.content 
    block content
    footer 
      .row 
        .col-12
          small &copy; CS624 FULL Stack Project: Mingsheng Twila Dare
    <!--  3. Bring in jQuery and Popper, needed by Bootstrap. -->
    script(src='http://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo',crossorigin-'anonymous')
    script(src="https://cdnjs.cloudflare.con/ajax/lib/popper.js/1.14.3/umd/popper.min.js",integrity='sha384ZMP7rVo3mlykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/I8WvCWPIPm49',crossorigin='anonymous') 
    <!-- 2. Bring in the BootStra JaveScript file -->
    script(src='/javascripts/bootstap.min.js')